pkgbase = qt6-dbusqml-reactive
	pkgdesc = Standalone D-Bus binding for QML (no KDE dependencies) — reactive bindings enabled
	pkgver = 0.2.5
	pkgrel = 1
	url = https://github.com/alexindigo/dbusqml
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = cmake
	depends = qt6-base
	depends = qt6-declarative
	provides = qt6-dbusqml=0.2.5
	conflicts = qt6-dbusqml
	conflicts = qt6-dbusqml-git
	source = qt6-dbusqml-reactive-0.2.5.tar.gz::https://github.com/alexindigo/dbusqml/archive/refs/tags/v0.2.5.tar.gz
	sha256sums = 9d370b084d65f8261fb4088fc2fdeee1cb26bb63a6887336e66399181a2dbad7

pkgname = qt6-dbusqml-reactive
